.resetpasswordmodal-container{
    width: 100% ;
    position : relative ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .resetpasswordmodal-loading{
        margin : 30px auto ;

    }
    .resetpasswordmodal-invalidtoken{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding : 20px 20px ;
        p{
          width : 100% ;
          font-size: 20px;
          text-transform : uppercase ;
          text-align : center ; 
        }
        i{
            color : #2E4053 ;
            font-size : 100px ;
        }
        button{
            margin-top : 10px ;
            background-color : #2E4053  ;
            color : white ;
            border : none ;
            padding : 10px 0px ;
            width : 100% ;
            border-radius: 5px;
        }
    }
    .resetpasswordmodal-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width : 100% ;    
        padding : 20px 20px ;
        &-title{
          width : 100% ;
          font-size: 20px;
          text-transform : uppercase ;
          text-align : center ;
        }
        .resetpassword-modal-btn{
          
            margin-top : 10px ;
            background-color : #2E4053  ;
            color : white ;
            border : none ;
            padding : 10px 0px ;
            width : 100% ;
            border-radius: 5px;
           
        }
    }

}