.footer-container{
    background-color : #2E4053 ;
    color : white ;
    padding : 20px 0px ;
    display : flex ;
    justify-content : center ;
    p{
        margin : 0px ;
        font-weight : 300 ;
    }
}